@font-face {
    font-family: 'Ahkio';
    src: url('./Ahkio/Ahkio-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Ahkio';
    src: url('./Ahkio/Ahkio-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Ahkio';
    src: url('./Ahkio/Ahkio-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}